$active-color: #f9d66d;
$main-color: #252525;

.list {
  width: 30%;
  background-color: $main-color;
  padding: 10px 0;

  ul {
    overflow-y: scroll;
    height: calc(100% - 50px);

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      color: #e8e8e8;
      padding: 10px 20px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        outline: none
      }

      img {
        width: 20px;
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }

      &:hover {
        background-color: $active-color;
        color: $main-color;
        cursor: pointer;
      }

      &.active {
        background-color: $active-color;
        color: $main-color;
      }
    }
  }

  button {
    color: #e8e8e8;
    border: 1px solid $active-color;
    background: transparent;
    font-size: 14px;
    text-transform: capitalize;
    margin: 10px 20px;
    width: calc(100% - 40px);
    padding: 10px;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: $active-color;
      color: $main-color;
    }
  }
}